@charset "UTF-8";

/************SECTION*************/
section {
	min-height : 700px;
}
#banner img{
	width: 100%;
	height: 700px;
	object-fit:cover;
}
#qnabanner img{
	width : 95%;
}
#newProduct{
	width: auto;
	overflow: hidden;
	/* 가로 스크롤 
 	white-space: nowrap;*/
}
#newProduct span{
	font-size: 20px;
}
#newProduct .pro{
	width: 280px !important;
	outline : 1px solid #9B9B9B;
	border-radius : 20px;
	min-height: 400px;
	margin-right: 10px;
}
#newProList{
	margin-top:10px;
	padding: 1px;
}
#newProduct .pro img{
	width: 280px;
	border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
	height : 265px;
	object-fit:cover;
}
.proDes{
	padding: 10px;
}
.proTitle{
	font-size:16px;
	font-weight: bold;
	/*줄바꿈*/
	overflow: hidden;
    text-overflow: ellipsis;
	line-height: 1.3;
	/*height: 4.8em;*/
	word-wrap : break-word;
	text-align : left;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.proPrice{
	line-height: 2.0;
	font-size:15px;
	text-align : left;
}
.proPrice{
	line-height: 2.0;
	font-size:15px;
	text-align : left;
}