@charset "UTF-8";

/************SECTION*************/
section {
	min-height : 800px;
}
#banner img{
	width: 100%;
	height: 800px;
	object-fit:cover;
}
#qnabanner img{
	width : 95%;
}
#newProduct{
	width: auto;
	overflow: auto;
	/* 가로 스크롤 */
 	white-space: nowrap;
}
#newProduct>span{
	font-size: 20px;
}
#newProduct .pro{
	width: 280px !important;
	outline : 1px solid #9B9B9B;
	border-radius : 20px;
	min-height: 400px;
	margin-right: 20px;
	margin-left: 11px;
}
#newProList{
	margin-top:10px;
	padding: 1px;
}
#newProduct .pro>img{
	width: 280px;
	border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
	height : 265px;
	object-fit:cover;
}
.pro:hover{
	cursor: pointer;
}
.proDes{
	padding: 10px;
}
.proDes .proTitle{
	width: 260px;
	font-size:17px;
	font-weight: bold;
	text-align : left;
	/*줄바꿈*/
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    height: 3.0em;
    white-space: normal;
	display: -webkit-box;
  	word-wrap: break-word;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	word-break: break-all;
}
.proTitle:hover {
	cursor : pointer;
	color : #75C573; 
}
.proPrice{
	line-height: 2.0;
	font-size:16px;
	text-align : left;
}
.proProfile .proImg{
	width: 30px;
	height : 30px;
	border-radius: 70%;
    overflow: hidden;
} 
.proProfile  img{
	width: 100%;
	height : 100%;
	object-fit:cover; 
}
.proProfile span{
	font-size: 16px;
	margin : 5px;
	font-weight: bold;
}
#mainViewList {
    list-style: none;
    display: flex;
}

.hasData {
    margin: 10px 0; /* 데이터가 있는 경우의 여백 설정 */
}

.noData {
    margin: 110px 0; /* 데이터가 없는 경우의 여백 설정 */
}

.bg-body-tertiary {
    background-color: #fff;
  }
container-fluid {
   padding-left:10px;

padding-right:10px;
}

.navbar-expand-lg .navbar-nav .nav-item.dropdown {
    padding-left:10px;

padding-right:10px;
}

@font-face {
    font-family: 'PyeongChangPeace';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TiquiTaca-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/TiquiTaca-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.dropdown-menu .dropdown-item {
    font-family: 'PyeongChangPeace', sans-serif;
}
.nav-item.dropdown{
	font-family: 'Cafe24ClassicType-Regular', sans-serif;
}
.navbar-brand b {
	font-family: 'Dancing Script', cursive;
}



