@charset "UTF-8";



section #title{
	min-height: 80px;
}

section #title div{
	font-weight: bold;
	font-size: 25px;
}

#storeInfo>div{
	margin-top : 15px;
	margin-right : 15px;
	width : 1200px;
	min-width: 800px;
	min-height: 100px;
	border : 1px solid #F2F2F2;
}
#tags{
	margin : 30px 0px 30px 0px;
}
#tags .tag{
	background-color : #ECFFE9;
    border: solid 1px #75C573;
    font-size : 15px;
    font-weight : bold;
    border-radius: 25px;
    height: 40px;
    min-width: 50px;
    margin-right: 8px;
    padding:8px;
    cursor:pointer;
}
#storeNav {
	width:100%;
	background-color : #FFFFFF;
	position: relative;
}
#storeNav ul{
	height: 70px;
}
#storeNav.fixed{
	width:100%;
	position: fixed;
	top: 0;
}	
#storeNav li{
	display: inline-block;
	width : 25%;
	height : 100%;
	font-size: 18px;
	font-weight:bold;
	text-align: center;
}
#storeNav li : hover{
	background-color: #F2F2F2;
	color:black;
	cursor: pointer;
}
.clicked{
	background-color: #F2F2F2;
}
li a {
	color : #9B9B9B;
}
#lists{
	margin: 0 auto;
  	width:100%;
  	font-size:20px;
  	overflow:hidden;
}
#detail{
	width: 100%;
	height: auto;
}
/**review**/
#reviews{
	width: 100%;
	min-height: 1000px;
}
#reviews>div{
	width: 1000px;
	margin-top : 30px;
	padding : 15px;
	border-top: solid 3px #F2F2F2;
}
.proProfile .proImg{
	width: 30px;
	height : 30px;
	border-radius: 70%;
    overflow: hidden;
} 
.proProfile  img{
	width: 100%;
	height : 100%;
	object-fit:cover; 
}
.proProfile span{
	font-size: 16px;
	margin : 5px;
	font-weight: bold;
}
