<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.gi.osc.repository.MainMapper">
    	
    	<!--
    	<select id="searchList" parameterType="com.gi.osc.bean.StoreDTO" resultType="com.gi.osc.bean.StoreDTO">
    		 select * from dbo.store where delete_yn='N' 
    		 <choose>
    		 	<when test="type !=null and type.equals('storename')">
    		 	and storename like CONCAT('%', #{keyword}, '%')
    		 	</when>
    		 </choose>
    	</select>
    	-->
    	<!--  상품검색 -->
    	<select id="searchProductsByName" parameterType="String" resultType="com.gi.osc.bean.ProductDTO">
		    SELECT a.*, p.*
		    FROM posting a
		    JOIN product p ON a.id = p.postingid(+)  
    		<where>
        		<if test="searchKeyword != null and searchKeyword != ''">
		            AND (p.productname LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'
		            OR a.title LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'
		            OR a.content LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%')
		        </if>
   			</where>
		</select>
		
		
	<!-- 상점 검색 -->
		<select id="searchStoreByName" parameterType="String" resultType="com.gi.osc.bean.StoreDTO">
   			select s.*, u.* 
			from users u
			join store s on u.id = s.userId(+)
			<where>
				<if test="searchKeyword != null and searchKeyword != ''">
 					AND (s.storeName LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'
       				OR u.nickname LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%')
        		</if>
        	</where>
		</select>
	 	
	 	<!-- 판매량이 높은 제품 조회 -->
		<select id="countPopularProducts" resultType="com.gi.osc.bean.PaymentDTO">
			<![CDATA[
				select po.thumnail , po.title,usp.* from posting po ,(
				select u.id,u.NICKNAME , u.profile,sp.storename,sp.productname,sp.price,sp.postingid,sp.storeid from users u, 
				    (select * from store s , 
				    (select * from product where postingid in(
				    select id from (
				        select po.id, COUNT(*) as totalCount FROM payment pm
				                    JOIN posting po ON pm.postingId = po.id
				                    GROUP BY po.id ORDER BY totalCount DESC) WHERE ROWNUM <= 6 and totalCount > 1)) p
				                    where p.storeid = s.id) sp
				        where u.id=sp.userid) usp
				    where po.id=usp.postingid
				]]>
		</select>

		<select id="searchHashtagByName" parameterType="java.lang.String" resultType="com.gi.osc.bean.HashtagDTO">
		    SELECT h.hashtagName, p.*
		    FROM hashtag_posting hp
		    JOIN hashtag h ON hp.hashtagId = h.id
		    JOIN posting p ON hp.postingId = p.id
		    <where>
		        <if test="searchKeyword != null and searchKeyword != ''">
		            AND (h.hashtagName LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%')
		        </if>
		    </where>
		</select>










    </mapper>