<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.gi.osc.repository.MainMapper">
    	
    	<select id="searchList" parameterType="com.gi.osc.bean.StoreDTO" resultType="com.gi.osc.bean.StoreDTO">
    		 select * from dbo.store where delete_yn='N' 
    		 <choose>
    		 	<when test="type !=null and type.equals('storename')">
    		 	and storename like CONCAT('%', #{keyword}, '%')
    		 	</when>
    		 </choose>
    	</select>
    	
    	<select id="searchProductsByName" parameterType="java.lang.String" resultType="com.gi.osc.bean.ProductDTO">
    SELECT P.*, S.STORENAME
    FROM PRODUCT P
    JOIN STORE S ON P.STOREID = S.ID
    WHERE P.PRODUCTNAME LIKE '%' || #{productName, jdbcType=VARCHAR} || '%'
</select>


    </mapper>