<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gi.osc.repository.ReviewMapper">
    
    <!-- 포스트 업로드 : insert -->
	<insert id="insertReview" parameterType="com.gi.osc.bean.ReviewDTO">
		insert into review (userid, postingid, content, point, img) values 
			(#{userId}, #{postingId}, #{content}, #{point}, 
	        <choose>
	            <when test="img != null">
	                #{img}
	            </when>
	            <otherwise>
	                null
	            </otherwise>
	        </choose>)
	</insert>

</mapper>