<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gi.osc.repository.StoreMapper">

	<!-- select : follow check -->
	<select id="followCheck" parameterType="com.gi.osc.bean.StoreSubDTO">
		select count(*)
		from store_subscribe
		where userId = #{userId} and storeId = #{storeId}
	</select>
	
	<!-- insert : follow -->
	<insert id="follow" parameterType="com.gi.osc.bean.StoreSubDTO">
		insert into store_subscribe (storeId, userId) values (#{storeId}, #{userId})
	</insert>
	
	<!-- delete : unfollow -->
	<delete id="unfollow" parameterType="com.gi.osc.bean.StoreSubDTO">
		delete from store_subscribe where storeId=#{storeId} and userId=#{userId}
	</delete>
	
	<!-- select : getFollow cnt -->
	<select id="getFollow">
		select count(*) from store_subscribe where userId=#{userId}
	</select>
		
	<!-- select : getFollower cnt -->
	<select id="getfollower">
		select count(*) from store_subscribe where storeId=#{storeId}
	</select>
	
	<!-- selectList : 유저넘버를 주면 해당 유저의 리뷰 가져오기 -->
	<select id="getReviews" resultType="com.gi.osc.bean.ReviewDTO">
		select * from review
				 where postingid in (select id from posting
				 							   where storeid=(select id from store
				 							   							where userid=#{userId}))
	</select>
	
	<!-- insert : like -->
	<insert id="like" parameterType="com.gi.osc.bean.HeartDTO">
		insert into heart (userid,postingId) values (#{userId},#{postingId})
	</insert>
	
	<!-- delete : unlike -->
	<delete id="unlike" parameterType="com.gi.osc.bean.HeartDTO">
		delete from heart where postingId=#{postingId} and userId=#{userId}
	</delete>
	
	<!-- selectList : 스토어넘버 주면 해당 스토어 모든 리뷰 가져오기 -->
	<select id="getReviewsByStoreID" resultType="com.gi.osc.bean.ReviewDTO">
		select *
		from review
		where postingid in (select id postingid
		                    from posting
		                    where storeid=#{storeId})
		order by id desc
	</select>
	
	<!-- selectList : 스토어넘버 주면 해당 스토어 모든 포스트 가져오기 -->
	<select id="getPosts" resultType="com.gi.osc.bean.PostingDTO">
		select * from posting where storeid=${storeId}
	</select>

</mapper>